.blog-1 {
    padding-top: 88px;
    padding-bottom: 40px;
}

.blog1-title {
    text-align: center;
    color: #000000;
    font-size: 32px;
    line-height: 1.1875;
    margin-bottom: 23px;
}

.blog1-title-text {
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #000000;
    margin-bottom: 71px;
}

.blog-1-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.blog-1-content {
    background-color: #231F20;
    width: 1170px;
    height: 370px;
    padding-left: 78px;
    padding-top: 63px;
    padding-bottom: 48px;
}

.blog-1-h3 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 60px;
}

.blog-1-name {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 27px;
}

.blog-1-ref {
    font-size: 18px;
    line-height: 1.38;
}

