.container {
    width: 1440px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    background-color: #F1F1F2;
}

.left-side {
    display: inline-block;
    padding: 154px 0 135px 162px;
    margin: 0;

    width: 721px;
    text-align: start;
}

.hero-title {
    margin: 0;
    margin-bottom: 36px;
    max-width: 433px;

    font-size: 56px;
    line-height: 1.22;
    color: #000;
}

.hero-text {
    margin: 0;
    margin-bottom: 52px;
    max-width: 422px;
    
    font-size: 20px;
    line-height: 1.40;
    color: #000;
}

.hero-button {
    display: inline-block;
    padding: 23px 24px 15px 25px;
    margin: 0;

    font-size: 18px;
    line-height: 1.2;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #F7941E;
}

.right-side {
    width: 719px;
    margin: 0;
    padding: 0;
}

.hero-photo {
    display: block;
}