:root {
    --main-color-text: #000000;
    --accent-color-text: #F7941E;
    --second-color: #231F20;
    --second-background: #FAFAFA;
    --white-color: #FFFFFF;
    --main-background-color: #F1F1F2;
    --shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}