<section class="about">
    <div class="container container-about">
          <img src="./images/img-about.jpg" alt="відкритка" width="721" height="600">
          <div class="about-title">
          <h2 class="about-header">How we work</h2>  
          <p class="about-text">We’ve actually already asked hundreds of women what they want, and made a database with the results. All you have to do
        is take our short survey that only takes seconds, and our proprietary algorithm will match you with a few perfect gift
        options.</p>
        <button type="button" class="about-button">Learn More</button>
        </div>
    </div>
</section>