<section class="blog-1">
  <div class="container">
    <h2 class="blog1-title">Our Best Blogs Ever</h2>
    <p class="blog1-title-text">
      “Try our blog to find the best tips and tricks to select your gift”
    </p>
    <div class="blog-1-card">
      <img
        src="./images/blog-1.jpg"
        width="400px"
        height="370px"
        alt="fell in love"
      />
      <div class="blog-1-content">
        <p class="blog-1-name">Mr. John Doe</p>
        <h3 class="blog-1-h3">The best way to wish your wife</h3>
        <p class="blog-1-ref">Read More</p>
      </div>
    </div>
  </div>
</section>
