

<section class="blog">
    <ul class="blog-list list">
        <li class="blog-item">
            <h3 class="blog-list-header">Database to find the gifts for your girlfriend</h3>
            <p class="blog-list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <a class="blog-link" href="">Read More</a>
        </li>
        <li class="blog-item">
            <h3 class="blog-list-header">How Artificial Intelligence read your mind to find the best gift</h3>
            <p class="blog-list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <a class="blog-link" href="">Read More</a>
        </li>
    </ul>
</section>