<div class="footer-icons">
    <ul class="footer-icons-list">
        <li class="footer-icons-item" >
            <a class="footer-icons-links" href="">
                <svg class="footer-icons-svg" >
                    <use href="./images/icons.svg#icon-facebook" ></use>
                </svg>
            </a>
        </li>
        <li class="footer-icons-item" >
            <a class="footer-icons-links" href="">
                <svg class="footer-icons-svg" >
                    <use href="./images/icons.svg#icon-twitter" ></use>
                </svg >
            </a>
        </li>
        <li class="footer-icons-item" >
            <a class="footer-icons-links" href="">
                <svg class="footer-icons-svg" >
                    <use href="./images/icons.svg#icon-instagram" ></use>
                </svg>
            </a>
        </li>
        <li class="footer-icons-item" >
            <a class="footer-icons-links" href="">
                <svg class="footer-icons-svg" >
                    <use href="./images/icons.svg#icon-youtube" ></use>
                </svg>
            </a>
        </li>
        <li class="footer-icons-item" >
            <a class="footer-icons-links" href="">
                <svg class="footer-icons-svg" >
                    <use href="./images/icons.svg#icon-pinterest" ></use>
                </svg>
            </a>
        </li>
    </ul>   
</div>
<div class="footer-copyright" >
    <a class="copyright-link" href="">
        <svg class="copiriht-icon" style="height:20px;">
            <use href="./images/icons.svg#icon-copyright" ></use>
        </svg>
    </a>
    <a class="copyright-link" href="">
        <svg class="copiriht-icon" style="height:20px;">
            <use href="./images/icons.svg#icon-link" ></use>
        </svg>
    </a>
</div>