<section>
        <div class="container padding">
          <h2 class="section-title">Gifts for all Occasions</h2>
          <p class="service-text">
            “Try our web app to find the best gifts for all occasions”
          </p>

          <ul class="list service-list">
            <li class="service-list-item">
              <a class="card-item-link" href="#">
                <div class="card-thumb">
                  <img
                    src="./images/gift-items/birthday.jpg"
                    alt="birthday baloon and cake"
                    width="270"
                    height="270"
                  />
                </div>
                <div class="card-description">
                  <h3 class="card-title">Birthday</h3>
                  <p class="card-more">See More &gt;</p>
                </div>
              </a>
            </li>

            <li class="service-list-item">
              <a class="card-item-link" href="#">
                <div class="card-thumb">
                  <img
                    src="./images/gift-items/anniversary.jpg"
                    alt="good wife and bride shoes and bouquet"
                    width="270"
                    height="270"
                  />
                </div>
                <div class="card-description">
                  <h3 class="card-title">Anniversary</h3>
                  <p class="card-more">See More &gt;</p>
                </div>
              </a>
            </li>

            <li class="service-list-item">
              <a class="card-item-link" href="#">
                <div class="card-thumb">
                  <img
                    src="./images/gift-items/valentines.jpg"
                    alt="gift with kiss me labels"
                    width="270"
                    height="270"
                  />
                </div>
                <div class="card-description">
                  <h3 class="card-title">Valentine's Day</h3>
                  <p class="card-more">See More &gt;</p>
                </div>
              </a>
            </li>

            <li class="service-list-item">
              <a class="card-item-link" href="#">
                <div class="card-thumb">
                  <img
                    src="./images/gift-items/christmas.jpg"
                    alt="christmas tree with toys"
                    width="270"
                    height="270"
                  />
                </div>
                <div class="card-description">
                  <h3 class="card-title">Christmas</h3>
                  <p class="card-more">See More &gt;</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>