<section class="section gifts">
    <div class="conteiner">
    <h2 class="section-title">Gifts for all Occasions</h2>
    <p class="gifts-text">“Try our web app to find the best gifts for all occasions”</p>
    <ul class="gift">
      <li  class="item">
        <img width="270" src="./images/gift-1.jpg" alt="Happy Birthday">
        <div class="under-gift"> 
          <h3 class="title-gift">Birthday</h3>
          <a class="link" href="">See More</a>
        </div>
      </li>
      <li class="item">
        <img width="270" src="./images/gift-2.jpg" alt="Shoes">
          <div class="under-gift">
        <h3 class="title-gift">Anniversary</h3>
        <a class="link" href="">See More</a>
      </div>
      </li>
      <li class="item">
        <img width="270" src="./images/gift-3.jpg" alt="Valentine-cards">
         <div class="under-gift">
        <h3 class="title-gift">Valentine's Day</h3>
        <a class="link" href="">See More</a>
      </div>
      </li>
      <li class="item">
        <img width="270" src="./images/gift-4.jpg" alt="Christmas-tree">
        <div class="under-gift">
        <h3 class="title-gift">Christmas</h3>
        <a class="link" href="">See More</a>
      </div>
      </li>
    </ul>
  </div>
  </section>