<section class="section">
    <div class="conteiner">
    <h2 class="section-title">Gifts for all Occasions</h2>
    <p>“Try our web app to find the best gifts for all occasions”</p>
    <ul class="gift">
      <li  class="item">
        <img width="270" src="./images/gift-1.jpg" alt="Happy Birthday" />
        <h3 class="title">Birthday</h3>
        <a href="">See More</a>
      </li>
      <li class="item">
        <img width="270" src="./images/gift-2.jpg" alt="Shoes" />
        <h3 class="title">Anniversary</h3>
        <a href="">See More</a>
      </li>
      <li class="item">
        <img width="270" src="./images/gift-3.jpg" alt="Valentine-cards" />
        <h3 class="title">Valentine's Day</h3>
        <a href="">See More</a>
      </li>
      <li class="item">
        <img width="270" src="./images/gift-4.jpg" alt="Christmas-tree" />
        <h3 class="title">Christmas</h3>
        <a href="">See More</a>
      </li>
    </ul>
  </div>
  </section>