<header class="header">
  <p class="header-title">logo</p>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item">
        <a href="" class="navigation-link">Home</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">About Us</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">Services</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">Blogs</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="button">GIFT FINDER</button>
</header>
