<section class="hero">
        <div class="hero-container container">
          <div class="left-side">
            <h1 class="hero-title">Find a gift for your wife or girlfriend</h1>
            <p class="hero-text">
            Struggling to find a gift for your wife or girlfriend?&nbsp;No problem!</p>
            <button class="hero-button">FIND GIFT NOW</button>
          </div>

          <div class="right-side">
            <img class="hero-photo" src="./images/hero-background.jpg" alt="background-photo">
          </div>
        </div>
    </section>
