<section class="section-ready">
  <div class="ready container">
    <div class="ready-left">
      <h2 class="ready-title">Ready to get started?</h2>
      <p class="ready-text">
        <a class="link sign-up" href="">Sign up</a> or
        <a class="link contact-us" href="">contact us</a>
      </p>
    </div>
    <ul class="ready-buttons">
      <li><a class="link find-gift" href="">FIND GIFT NOW</a></li>
      <li><a class="link how-it-works" href="">HOW IT WORKS</a></li>
    </ul>
  </div>
</section>
